
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>Test</h2>
<p>fbdhbdg</p>
<table class="table">
    <thead>
        <tr>
            <th>user</th>
            <th>user</th>
            <th>user</th>
            <th>user</th>
            <th>user</th>
            <th>user</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
        <tr>
            <td><button class="btn-warning" onclick="#">Edit</button></td>
            <td><button class="btn-danger" onclick="#">Delete</button></td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
            <td>nadreak</td>
        </tr>
    </tbody>
</table>

